<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/oauth2/authorization/google" class="btn btn-success active" role="button">google login</a>
-> /oauth2/code/google

<a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">naver login</a>
-> /oauth2/code/naver
<h1>hellow~</h1>

</body>
</html>